@import "bootstrap/dist/css/bootstrap.min.css";

.covered {
  object-fit: cover;
    width: 280px;
    height: 300px;
}

.baseSettings {
  background-color:bisque;
  color:darkolivegreen;
}

.btnBackg {
  background-color: darkolivegreen;
}
